{% extends 'Base/FastCRUD/base.html' %}

{% block navbar %}
<a class="btn btn-outline-info btn-md" href="{% url object_name|add:'_new' %}">+ New {{object_name}}</a>
{% endblock %}

{% block content %}
    <h1 class="my-4">Detail - {{object_name}}
        <small></small>
    </h1>
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                
                {% for name, value in object.get_fields %}
                    <li class="list-group-item">
                        <strong>{{ name|title }}:</strong>
                        {% if value %}
                            {{ value }} 
                        {% endif %}
                    </li>
                {% endfor %}

            </ul>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-12">
                <a href="{% url object_name|add:'_edit' object.id %}"><button type="button" class="btn btn-success">Edit</button></a>
                <a href="{% url object_name|add:'_list' %}"><button type="button" class="btn btn-secondary">Back</button></a>
        </div>
    </div>
{% endblock %}