{% extends 'Base/FastCRUD/base.html' %}

{% block navbar %}
<a class="btn btn-outline-info btn-md" href="{% url object_name|add:'_new' %}">+ New {{object_name}}</a>
{% endblock %}

{% block content %}

        <h1 class="my-4">
            {% if "new" in request.path %}
                New - {{object_name}}
            {% else %}
                Edit - {{object_name}}
            {% endif %}
        </h1>
        <div class="row">
            <div class="col-12">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.errors }}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <input type="submit" {% if "new" in request.path %} value="Add" {% else %} value="Update" {% endif %} class="btn btn-success"/>
                    <a href="{% url object_name|add:'_list' %}"><button type="button" class="btn btn-secondary">Back</button></a>
                </form>
            </div>
        </div>


{% endblock %}